'.source.inspec':
  'Describe apache':
    'prefix': 'apache'
    'body': "# https://inspec.io/docs/reference/resources/apache/\ndescribe apache do\n  its('${1:property}') { should${2:_not} ${3:cmp} ${4:'expected'} }${5}\nend"
