'.source.inspec':
  'Describe aws_kms_keys':
    'prefix': 'aws_kms_keys'
    'body': "# https://inspec.io/docs/reference/resources/aws_kms_keys/\ndescribe aws_kms_keys('${1:name}') do\n  its('${2:property}') { should${3:_not} ${4:cmp} ${5:expected} }${6}\nend"
