'.source.inspec':
  'Describe aws_iam_root_user':
    'prefix': 'aws_iam_root_user'
    'body': "# https://inspec.io/docs/reference/resources/aws_iam_root_user/\ndescribe aws_iam_root_user do\n  it { should${2:_not} ${3:have_mfa_enabled} }${4}\nend"
