'.source.inspec':
  'Describe aws_iam_password_policy':
    'prefix': 'aws_iam_password_policy'
    'body': "# https://inspec.io/docs/reference/resources/aws_iam_password_policy/\ndescribe aws_iam_password_policy do\n  it { should${1:_not} ${2:require_lowercase_characters} }${3}\nend"
