'.source.inspec':
  'Describe aws_subnets':
    'prefix': 'aws_subnets'
    'body': "# https://inspec.io/docs/reference/resources/aws_subnets/\ndescribe aws_subnets.where(vpc_id: '${1:name}') do\n  its('${2:property}') { should${3:_not} ${4:exist} {5:'expected'} }${6}\nend"
