'.source.inspec':
  'Describe aws_vpcs':
    'prefix': 'aws_vpcs'
    'body': "# https://inspec.io/docs/reference/resources/aws_vpcs/\ndescribe aws_vpcs do\n  it { should${1:_not} ${2:exist} }${3}\nend"
