'.source.inspec':
  'Desscribe bridge':
    'prefix': 'bridge'
    'body': "# http://inspec.io/docs/reference/resources/bridge/\ndescribe bridge('${1:name}') do\n  it { should${2:_not} ${3:exist} }${4}\nend"
