'.source.inspec':
  'Describe crontab':
    'prefix': 'crontab'
    'body': "# https://inspec.io/docs/reference/resources/crontab/\ndescribe crontab('${1:name}') do\n  its('${2:property}') { should${3:_not} ${4:include} ${5:'expected'} }${6}\nend"
