'.source.inspec':
  'Desscribe etc_group':
    'prefix': 'etc_group'
    'body': "# http://inspec.io/docs/reference/resources/etc_group/\ndescribe etc_group('${1:name}') do\n  it { should${2:_not} ${3:exist} }${4}\nend"
