'.source.inspec':
  'Desscribe etc_password':
    'prefix': 'etc_password'
    'body': "# http://inspec.io/docs/reference/resources/etc_password/\ndescribe etc_password('${1:name}') do\n  it { should${2:_not} ${3:exist} }${4}\nend"
