'.source.inspec':
  'Describe filesystem':
    'prefix': 'filesystem'
    'body': "# https://inspec.io/docs/reference/resources/filesystem/\ndescribe filesystem('${1:path}') do\n  its('${2:property}') { should${3:_not} ${4:cmp} ${5:'expected'} }${6}\nend"
