'.source.inspec':
  'Describe nginx':
    'prefix': 'nginx'
    'body': "# https://inspec.io/docs/reference/resources/nginx/\ndescribe nginx('${1:path_to_nginx}') do\n  its('${2:property}') { should${3:_not} ${4:cmp} ${5:'expected'} }${6}\nend"
