'.source.inspec':
  'Describe parse_config':
    'prefix': 'parse_config'
    'body': "# http://inspec.io/docs/reference/resources/parse_config/\ndescribe parse_config('${1:name}') do\n  it { should${2:_not} ${3:exist} }${4}\nend"
