'.source.inspec':
  'Desscribe sshd_config':
    'prefix': 'sshd_config'
    'body': "# http://inspec.io/docs/reference/resources/sshd_config/\ndescribe sshd_config('${1:name}') do\n  it { should${2:_not} ${3:exist} }${4}\nend"
