'.source.inspec':
  'Desscribe windows_feature':
    'prefix': 'windows_feature'
    'body': "# http://inspec.io/docs/reference/resources/windows_feature/\ndescribe windows_feature('${1:name}') do\n  it { should${2:_not} ${3:exist} }${4}\nend"
