'.source.inspec':
  'Describe <%= @resource %>':
    'prefix': '<%= @resource %>'
    'body': "# https://inspec.io/docs/reference/resources/<%= @resource %>/\ndescribe <%= @resource %>('${1:name}') do\n  it { should${2:_not} ${3:exist} }${4}\nend"
