# If this is your first time writing a language grammar, check out:
#   - http://manual.macromates.com/en/language_grammars

'scopeName': 'source.ruby.inspec'
'name': 'InSpec'
'fileTypes': [
  '.rb'
]
'patterns': [
  {
    'match': '(^|;)\\W*(control|impact|title|desc)\\b'
    'name': 'keyword.inspec'
  }
  {
    'match': '(^|;)\\W*(its)\\b'
    'name': 'keyword.inspec'
  }
  {
    'include': 'source.ruby.rspec'
  }
]
